:root {
  --blue-color: #4B7DBF;
  --green-color: #5D8C64;
  --red-color: #8C3027;
  --cream-color: #f2ebe4;
  --orange-color: #BF5934;
  --yellow-color: #E7B560;
  max-width: 1280px;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: var(--cream-color);
  font-weight: 400;
  font-size:larger;
}

body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #4B7DBF;
}

a:hover{
text-decoration: underline;
}


.red-colour{
  color: var(--red-color);
  font-weight:800;
}

.green-colour{
  color: var(--green-color);
  font-weight:800;
}

.orange-colour{
  color: var(--orange-color);
  font-weight:800;
}

.blue-colour{
  color: var(--blue-color);
  font-weight:800;
}

.yellow-colour{
  color: var(--yellow-color);
  font-weight:800;
}

.section-header{
  width: 20vw;
  margin-top: 2vw;
  margin-left: 3vw
}

#header-background{
  padding-top: 1vw;
  height: 100vh;
  width: 100%;
margin: auto;
}

#name-animation{
  margin-top: 20vh;
  margin-left: 10vw;
  width: auto;
  height: 40vh;
}

#nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 5vw;
  padding-right: 3vw
}

.nav-btn{
  height: 6vh;
}

button{
  border: none;
  background: none;
}


#downArrow{
  display: block;
  width: 3vw;
  position: absolute;
  bottom: 3vw;
  left:48vw;
  animation: arrowHover 1s ease-in-out 0s infinite alternate none;
}

@keyframes arrowHover {
  from {bottom: 3vw;}
  to {bottom: 2vw;}
}

/* section one */

#section-one{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-about{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-tech{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* multiple sections */

.text-content{
width: 40vw;
}

.white-bck{
  background-color: white;
}

/* about */

#about-content{
  margin-top: -10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--blue-color);
  
}

#about-text{
  width: 40vw;
  line-height: 2vw;
}


/* contact */

#contact-content{
  margin-top: -10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--green-color);
  gap: 2vw
}

#contact-content img{
  align-self: center;
  justify-self: center;
  margin: 0
}

#contact-links{
  display: flex;
  flex-direction: row;
  gap: 3vw;
  justify-content: center;
  align-items: center;
}



/* tech stack */

.tech-content{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 70vw;
  gap: 1vw;
  justify-content: center;
}

.tech-content li{
  /* font-size: medium; */
  font-weight: 600;
  /* background-color: var(--blue-color); */
  background-color: white;
  border-radius: 2vw;
  width: 10em;
  padding: 1vw;
  /* color: antiquewhite; */
  color: var(--blue-color);
  border: 1px solid var(--blue-color)

}

.sml li{
  /* background-color: var(--green-color); */
  width: 8em;
}

.orng li{
  /* background-color: var(--orange-color); */
}

.rd li{
  /* background-color: var(--red-color); */
  width: 8em;
}

.background-squ{
  background-image: URL("/assets/BackgroundSquiggle.png");
  background-size: cover;
}

#transp{
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: white;
  opacity: 0.7;
}

/* work page */

#work-container{
  width: 80vw;
  height: 50vh;
  /* border: solid 1vw var(--orange-color); */
  border-radius: 5vw;
  display: flex;
  flex-direction: row;
  padding: 2vw;
}

#work-one{
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 3vw;
  align-items: center;
height: 100vh;
color: var(--orange-color);
}


.work-Title{
  display: flex;
  flex-direction: column;
  color: var(--red-color);
  }
  
  #work-container{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    width: 90vw;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
  }
  
  .work-card{
    border-radius: 2vw;
    background-color: white;
    color:var(--red-color);
    line-height: 2vw;
    width: 100%;
    height: 100%;
    padding: 1vw;
  }
  
  .work-content-container img{
  height: 15vw;
  width: auto;
  }

.title-logo{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* #Work-content{
  margin-top: -10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--orange-color);
  gap: 3vw;
} */

/* mobile optimisation  */

@media only screen and (max-width: 600px) {

  #header-background{
    height: 105vh;
  }

  a{
    line-height: 1.5rem;
  }

  #work{
    min-height: 100vh;
    height: fit-content;
    align-items: center;
  }

  #section-one{
    min-height: 100vh;
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 7vh
  }
  /* header */

  #name-animation{
    margin-top: 20vh;
    margin-left: 0vw;
    width: 90vw;
    height: auto;
  }

  #nav-bar{
    justify-content: center;
  }

  .nav-btn{
    height: 7vw;
  }

  #downArrow{
    display: block;
    width: 10vw;
    position: absolute;
    left:45vw;
  }

  /* about */

  .sc-about{
    justify-content: center;
    padding-top: 2vh;
  }

  #about-content{
    flex-direction: column;
    justify-self: center;
  }
  
  #about-text{
    width: 90vw;
    line-height: 1.5rem;
  }

/* work */

.sc-work{
  justify-content: start;
}
#work-container{
  width: 80vw;
  height: 50vh;
  /* border: solid 1vw var(--orange-color); */
  border-radius: 5vw;
  display: flex;
  flex-direction: row;
  padding: 2vw;
}

#work-one{
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 3vw;
  align-items: center;
height: 100vh;
color: var(--orange-color);
}


.work-Title{
  display: flex;
  flex-direction: column;

  }

  #work-container{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 90vw;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
  }
  
  .work-card{
    border-radius: 2vw;
    background-color: white;
    color:var(--red-color);
    line-height: 2vw;
    width: 100%;
    height: 100%;
    padding: 1vw;
  }
  
  .work-content-container img{
  height: 25vw;
  }

  .work-content-container p{
    line-height: 2.5vh;
  }

.title-logo{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* contact */


#contact-content{
  margin-top: -20vw;
  flex-direction: column;
  gap: 2vw;
  padding: 0 2vh 0 2vh
}

#contact-content .section-header{
  width: 30vw;
  height: auto;
}

#contact-links{
  display: flex;
  flex-direction: row;
  gap: 3vw;
  justify-content: center;
  align-items: center;
}
/* tech stack */

.tech-content{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70vw;
  gap: 1vw;
  justify-content: center;
  align-items: center;
}
.tech-content{
  padding: 0 
}
}